.TodoApp {
    background-color: #F5F5F5;
    color: #222;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /*margin-top: 100px;*/
    width: 50vw;
    padding: 0px;

    height: 90vh;
    margin: 40px auto;
}
