@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-image: linear-gradient(#341f97, #2e86de);
	font-family: 'Roboto', sans-serif;
}